In [2]:
#Lets import pandas

import numpy as nu
import pandas as pd

Reindex function is used to reorder the index in the dataframe
it means it changes the row labels and column labels of a dataframe

In [4]:
index = ['Firefox','Chrome','Safari','IE10','Konqueror']
df = pd.DataFrame({'http_status':[200,200,404,404,301],
                   'response_time':[0.04,0.02,0.07,0.08,1.0]},index=index)

df

           http_status  response_time
Firefox            200           0.04
Chrome             200           0.02
Safari             404           0.07
IE10               404           0.08
Konqueror          301           1.00

In [5]:
#Lets Create a New Order of Index
new_index = ['Safari','Iceweasel','Comodo Dragon','IE10','Chrome']

#Lets apply the new Order of Index
df.reindex(new_index)

               http_status  response_time
Safari               404.0           0.07
Iceweasel              NaN            NaN
Comodo Dragon          NaN            NaN
IE10                 404.0           0.08
Chrome               200.0           0.02