# Global Veriable

In [ ]:
def func():
    global a
    a = 5
    print(a)

In [ ]:
func()

5

In [ ]:
a

5

# String Formatting

In [ ]:
#declaring two variable
first_name='Chandimal'
last_name='Priyamantha'

In [ ]:
#using format() function
print('Hello! I am {} {}'.format(first_name,last_name))

Hello! I am Chandimal Priyamantha

In [ ]:
#using number inside brackets
print('Hello! I am {0} {1}'.format(first_name,last_name))

Hello! I am Chandimal Priyamantha

In [ ]:
print('Hello! I am {0} {1}. {1} is my surname')

Hello! I am {0} {1}. {1} is my surname

Ninja Tip!!!

#f-string

In [ ]:
#declaring two variables
f_name = 'Karan'
age=40

In [ ]:
#using f-string for formatting
print(f'My naem is {f_name}.I am {age} years old')

My naem is Karan.I am 40 years old

##String Methods.
String methods are in-built functions in python for manipulating string.

#1.capitalize()- returns string after converting the first character to uppercase.

In [ ]:
#capitalize() methdo
s='bollywood'
s.capitalize()

'Bollywood'

In [ ]:
#Lower() method
s1='CINEMA'
s1.lower()

'cinema'

In [ ]:
#upper() method
a='movie'
a.upper()

'MOVIE'

4.join() function which returns the string sfter concatenating elements of the string with a separator.

In [ ]:
#join() method
s1=['Ram','Shyam','Mohan']
x=" ".join(s1)
print(x)

Ram Shyam Mohan

##5.len() function which returns the length of the string.

In [ ]:
#len() method
s='Python Programming Language'
len(s)

27

6.count() function which returns the number of occurrences of the substring.

In [ ]:
#count() method
st='Lionel Messi'
st.count('e')

2

8. Is lower() function which checks if all the character of the string are lowercase or not

In [ ]:
#isLower() method
s='actors'
s.islower()

True

9. Is upper() function which checks if all the characters of the string are uppercase or not.

In [ ]:
#isupper() method
a = 'SONGS'
a.isupper()

True

10. split() function which returns a list of the strig after breaking the string by the separator.

In [ ]:
#split() method
s = 'Data+Science'
s.split('+')

['Data', 'Science']

In [ ]:
#split() method
s1='Data Scince'
s1.split(" ")

['Data', 'Scince']

11. strip() function which removes any extra spaces at the beginning and at the end of the string.

In [ ]:
#strip() method
s=' Tom Cruise'
s.strip()

'Tom Cruise'

User Input

input() function takes input from thr user and evaluates it.

In [105]:
x=input()
print(x)

2

In [106]:
input('What is your name:')

'2'

In [107]:
x=int(input('Enter a number:01'))
y=int(input('Enter the number 02:'))
print(x+y)

4

In [108]:
x=float(input('Enter the Number:'))
print(x)

2.0

In [109]:
s="Data is Good"
print(s[-4:])

Good

Conditional Statements

The conditional statements in python allows to perform some sort of decision making. The decision making process in Python is done using if, elif and else.

Sysntax
if(condition)
   statement(s

In [110]:
x=3
if(x>0):
    print('x is greater than 0')

x is greater than 0

In [111]:
x=5
if(x%2==0):
    print('x is divisible by 2')
else:
    print('x is not divisible by 2')

x is not divisible by 2

In [112]:
#exampel of if elif else statement
y=34
if(y<10):
    print('y is less than 10')
elif(y>10 and y<30):
    print('y is between 10 and 30')
else:
    print('y is greater than 30')

y is greater than 30

Loops are used to repeat a specific block of code as and when required.

Python provides two ways to execute loops.
  1. for loop
  2. while loop

for Loop
The for loop in python used to iterate over a sequence(list, tuple, string and dicttinary

In [113]:
a=['Colombo','Kegalle','Kandy','Jaffna','Matara']
#using for loop
for city in a:
    print(city)

Colombo
Kegalle
Kandy
Jaffna
Matara

In [114]:
#difining a list
s = [2,6,5,8,3]
for i in s:
    if(i%2!=0):
        print(i,'not divisible by 2')

5 not divisible by 2
3 not divisible by 2

Wlile loop
The while loop in Python is used to iterate over a block of code a long as the test cindition is true.

Syntax
While test_condition:
      Body of loop

In [115]:
#using while loop
i=1
while i<=5:
    print(i)
    i=i+1

1
2
3
4
5

In [116]:
#while loop with conditional statements
i=1
while i<=5:
    print(i)
    i=i+1
else:
    print('i is no longer less than  6')

1
2
3
4
5
i is no longer less than  6

In [117]:
list = [1,3,6,5,8]
for a in list:
    if(a==7):
        print('I love Tharuka')
    elif(a==2):
        print('I don not love Tharuka')
    else:
        print('')

Ninja Tip

In [118]:
for i in range(2,8):
    print(i)

2
3
4
5
6
7

Break statement

The break keyword is used to break out a for loop, or a while loop, as soon as the condition is found to be true the iteration stops.

In [119]:
#using break statement
for i in range(1,10):
    print(i)
    if i==5:
        break

1
2
3
4
5

Continue statement

Using the continue statement, we can only skip the current iteration of the loop, and countinue with the next.

In [120]:
#using countinue statement
for i in range(1,10):
    if i==5:
        continue
/    print(i)

9

List

In [121]:
list=['apple','banana','cherry']
list[1]

'banana'

Tuple

In [122]:
t=(1,2,3,4,5,6)
t

(1, 2, 3, 4, 5, 6)

Operations on List

In [123]:
#define a list called "s"
s = ["apple","banana","cherry"]
#using append method
s.append("Cauliflower")
s

['apple', 'banana', 'cherry', 'Cauliflower']

Insert()
insert() method adds an element at the specified index.

In [124]:
#using insert() method
s.insert(0,"brinjl")
s

['brinjl', 'apple', 'banana', 'cherry', 'Cauliflower']

remove()
remove method remoes the item with the specified value.

In [125]:
s.remove('brinjl')
s

['apple', 'banana', 'cherry', 'Cauliflower']

pop()
pop() method remove the element at the specifies index(or last item if the index is not specified)

In [126]:
#using pop() method
s.pop()
s

['apple', 'banana', 'cherry']

Copy()
copy() method return a copy of the line

In [127]:
scopy = s.copy()
scopy

['apple', 'banana', 'cherry']

In [128]:
#using clear() method
scopy.clear()
scopy

[]

In [129]:
#using revers() method
s.reverse()
s

['cherry', 'banana', 'apple']

Count()
count() method return the number of elements with the specified value.

In [130]:
s.count('apple')

1

extend()
extend() method adds the elements of

In [131]:
#using extend() method
s1=[3,8]
s.extend(s1)
s

['cherry', 'banana', 'apple', 3, 8]

In [132]:
#using sort() method
s = ["apple","banana","cherry"]
s.sort()
s

['apple', 'banana', 'cherry']

In [133]:
#another example of sort() method
a=[4,7,2,9,0]
a.sort()
a

[0, 2, 4, 7, 9]

Operation on Tuples

In [134]:
#using count() method
t=("apple","banana","cherry","banana")
t.count("banana")

2

index()

In [135]:
#using index() method
t.index('cherry')

2

len()
len() method retrns the lenght of the tuple

In [136]:
#using len() method
len(t)

4

'+' operator
'+' is used join two tuple

In [137]:
u1=(2,5,7,6)
u2=(1,2,4,5)
u1+u2

(2, 5, 7, 6, 1, 2, 4, 5)

In [138]:
x=[2,3,4]
print(x[:-1])
print(x[-1:])
print(x[::-1])
print(x[-1::])

[2, 3]
[4]
[4, 3, 2]
[4]

In [139]:
t=(100,200)
print(t*2)

(100, 200, 100, 200)

Dictionary
Dictionary is an unordered of data values, used to store data values like a map,i.e, dictionary holds the key:value pari
  1. The value in the dictionary can be of any data type and can repeat.
  2. The keys in the dictionary must be of immutable type(string,number or tuple with immutable element) and must be unique.

In [140]:
#creating a dictionary
d = {"brand":"ford","model":"Mustage","year":1964}
d

{'brand': 'ford', 'model': 'Mustage', 'year': 1964}

In [141]:
#creating dictianary using dict() method
thisdict = dict(brand="ford",model="Mustang",year=1964)
thisdict

{'brand': 'ford', 'model': 'Mustang', 'year': 1964}

Note:-
  1. Keys are not string literals i.e, we write keys without quotes.
  2. Using equall rather than colon for assignment

In [142]:
#accessing item of a dictionary using get() method
d.get("brand")

'ford'

In [143]:
#accessing item of a dictionary
d['brand']

'ford'

In [144]:
#changing an item
d["brand"]="Maruti"
d

{'brand': 'Maruti', 'model': 'Mustage', 'year': 1964}

In [145]:
#adding a new item
d["color"]="Red"
d

{'brand': 'Maruti', 'model': 'Mustage', 'year': 1964, 'color': 'Red'}

Operation on Dictionaries
Copy()
copy() method retums a copy of the dictionary.

In [146]:
#using copy() method
dict1 = {1:"Ram",2:"Shyam",3:"Lakhan"}
dict2 = dict1.copy()
dict2

{1: 'Ram', 2: 'Shyam', 3: 'Lakhan'}

items()
items method return a list containing a tuple for each key-value pair.

In [147]:
#using items() method
dict1.items()

dict_items([(1, 'Ram'), (2, 'Shyam'), (3, 'Lakhan')])

Keys()
keys() method which returns the list containing the dictionry keys.

In [148]:
#using keys() method
dict1.keys()

dict_keys([1, 2, 3])

pop()
pop() method removes the element with the specified key.

In [149]:
#using pop() method
dict1.pop(1)
dict1

{2: 'Shyam', 3: 'Lakhan'}

popitem()
popitem() method removes the inserted key-value pai.

In [150]:
#using popitem() method
dict1.popitem()

(3, 'Lakhan')

update()
update() method update the dictionary with the specified key-value pair.

In [151]:
#using update() method
dict1.update({4:"sita"})
dict1

{2: 'Shyam', 4: 'sita'}

Clear()
clear() method removes all the elements from the dictionary.

In [152]:
#using clear() method\
dict1={1:"Ram",2:"Shyam",3:"Lakhan"}
dict1.clear()
dict1

{}

values()
values() method returns a list of the values in the dictionay.

In [153]:
#using values() method
dict1={1:"Ram",2:"Shyam",3:"Lakhan"}
dict1.values()

dict_values(['Ram', 'Shyam', 'Lakhan'])

Nested Dictionary
A nested dictionary is a dictionary inside a dictionary.
nested_dict = {dic1:{key1:value1},dict2:{key2:value2}}

In [154]:
#creating a dictionary
students_marks={'Ram':{'Maths':75,"Science":80,"English":78},
               "Shyam":{"Maths":60,"Science":65,"English":70},
               "Mohan":{"Maths":80,"Science":50,"English":68}}
students_marks

{'Ram': {'Maths': 75, 'Science': 80, 'English': 78},
 'Shyam': {'Maths': 60, 'Science': 65, 'English': 70},
 'Mohan': {'Maths': 80, 'Science': 50, 'English': 68}}

In [155]:
#accessing value is a nestede dictionary
students_marks["Mohan"]

{'Maths': 80, 'Science': 50, 'English': 68}

In [156]:
students_marks["Mohan"]["Maths"]

80

In [157]:
students_marks["Rohan"]={}
students_marks["Rohan"]["Maths"]=79
students_marks["Rohan"]["Science"]=80
students_marks["Rohan"]["English"]=90

students_marks["Rohan"]

{'Maths': 79, 'Science': 80, 'English': 90}

In [158]:
students_marks.pop("Shyam")

{'Maths': 60, 'Science': 65, 'English': 70}

In [159]:
students_marks

{'Ram': {'Maths': 75, 'Science': 80, 'English': 78},
 'Mohan': {'Maths': 80, 'Science': 50, 'English': 68},
 'Rohan': {'Maths': 79, 'Science': 80, 'English': 90}}

In [160]:
#iteratin through a nested dictionary
for name,subjects in students_marks.items():
    print("Name of Student",name)
    for marks in subjects:
        print(marks,":",subjects[marks])

Name of Student Ram
Maths : 75
Science : 80
English : 78
Name of Student Mohan
Maths : 80
Science : 50
English : 68
Name of Student Rohan
Maths : 79
Science : 80
English : 90

Introduction to Sets
A set is a collection which is unordered and unindexed. In Python, sets are written with curly brackets {}.

In [161]:
#creating a set
s={'apple','banana','cherry'}

In [162]:
#accessing elements of set
for i in s:
    print(i)

cherry
banana
apple

In [163]:
#trying to change the element of a set
s[0] = 'pineapple'

TypeError: 'set' object does not support item assignment

In [ ]:
#adding one element to a set
s.add('pineapple')
s

{'apple', 'banana', 'cherry', 'pineapple'}

In [ ]:
#adding more than one element ata time
s.update({'orange','watermelon'})
s

{'apple', 'banana', 'cherry', 'orange', 'pineapple', 'watermelon'}

In [ ]:
s.remove('mango')

KeyError: 'mango'

In [ ]:
s.discard('mango')

In [ ]:
a = {'apple','banana','cherry','pineapple'}

In [ ]:
a.pop()
a

{'apple', 'cherry', 'pineapple'}

In [ ]:
a.pop()
a

{'apple', 'pineapple'}

In [ ]:
a.clear()

In [ ]:
a

set()

Set Operations

Sets can be used to carry out mathematical set operation like
 1. Union
 2. Intersection
 3. Difference
 4. Symmetric differece.

 Set Unoon
 Union of two sets is the set of all elements from both the sets. Set Union can be performde using rwo ways-
  1. | operation
  2. union() method

In [ ]:
#defining two sets and performing set union
A={1,2,4,7,8}
B={1,2,3,5,9,8}
A|B

{1, 2, 3, 4, 5, 7, 8, 9}

In [ ]:
A.union(B)

{1, 2, 3, 4, 5, 7, 8, 9}

In [ ]:
B.union(A)

{1, 2, 3, 4, 5, 7, 8, 9}

Set Intersection
The intersection two sets id the set of elements that are present in both the sets. Set intersection an be performed using two qays
   1. & operation
   2. intersection() method.

In [ ]:
A&B

{1, 2, 8}

In [ ]:
A.intersection(B)

{1, 2, 8}

In [ ]:
B.intersection(A)

{1, 2, 8}

Set Difference
The difference of set B from the set A(which we write as A-B) is the set of elements that are only in A but not in B.

In [ ]:
A={1,2,4,7,8}
B={1,2,3,5,9,8}

In [ ]:
A-B

{4, 7}

In [ ]:
B-A

{3, 5, 9}

1. For A-B we can use A.difference(B)
2. For B-A we can use B.difference(A)

Set Symmeetric difference
The set symmetric difference is the set of all elements from A and B exclusign elements that are common in both. The symmetric difference is performed using two ways.
  1 ^operator
  2 symmetric_difference() method

In [ ]:
A^B

{3, 4, 5, 7, 9}

In [ ]:
A.symmetric_difference(B)

{3, 4, 5, 7, 9}

 ## Implementing Stacks using Lists

In [ ]:
#Empty List
letters=[]

In [ ]:
#adding elements
#push Operation
letters.append('a')
letters.append('e')
letters.append('f')
letters.append('h')
letters

['a', 'e', 'f', 'h']

In [ ]:
#Removing element
#Pop aperation
letters.pop()

'h'

In [ ]:
letters

['a', 'e', 'f']

In [ ]:
letters.pop()
letters

['a', 'e']

## Implementing Queues using List

In [ ]:
#Empty List
fruits=[]

In [ ]:
#Adding Operation
fruits.append('mango')
fruits.append('banana')
fruits.append('guava')
fruits.append('apple')
fruits

['mango', 'banana', 'guava', 'apple']

In [ ]:
fruits.pop(0)

'mango'

In [ ]:
fruits.pop(0)

'banana'

In [ ]:
fruits

['guava', 'apple']

## Implementing Stacks using deque

In [ ]:
from collections import deque

In [ ]:
#initialsing
numbers=deque()

In [ ]:
#Adding item
#Push
numbers.append(23)
numbers.append(45)
numbers.append(12)
numbers.append(54)
numbers

deque([23, 23, 45, 12, 54])

In [ ]:
numbers.pop()

54

In [ ]:
numbers.pop()

12

## Implementing Queues using deque

In [ ]:
from collections import deque

In [ ]:
#initialising
names=deque()

In [ ]:
#Adding items 
#Enqueue
names.append("Radhika")
names.append("Shyam")
names.append('Ravi')
names.append("Shivani")
names

deque(['Radhika', 'Shyam', 'Ravi', 'Shivani'])

In [ ]:
#Removing item
#dequeue
names.popleft()
names

deque(['Ravi', 'Shivani'])

Python Function

In [ ]:
def my_Function():
    a=5
    b=6
    c = a+b
    return c

In [ ]:
my_Function()

11

In [ ]:
#define function with parameter 
def my_Function(a,b):
    return a+b

In [ ]:
my_Function(2,3)

5

In [ ]:
#Define function using default parameter
def my_function(a,b=6):
    return a+b

In [ ]:
my_function(4)

10

In [ ]:
my_function(6,2)

8

In [ ]:
def my_function(a,b=2,c=6):
    return a+b+c

In [ ]:
my_function(1,2,3)

6

In [ ]:
my_function(1,3)

10

In [ ]:
def my_function(a,b,c):
    return(a*b+c)

In [ ]:
my_function(3,2,4)

10

In [ ]:
def my_Function(a,b=2,c=5):
    return a+b*c

In [ ]:
my_Function(3,2,3)

9

In [ ]:
def marks(m,s,e):
    return m+s+e

In [ ]:
marks(50,78,60)

188

In [ ]:
marks(m=50,s=78,e=60)

188

In [ ]:
def marks(**score):
    print("marks is scince " + score["scince"])

In [ ]:
marks(scince='45', english='45',math='34')

marks is scince 45

In [ ]:
#modules
import calculation

In [ ]:
calculation.addition(4,5)

9

In [ ]:
calculation.multiplication(7,3)

21

Lambda Function
  - Lamda function is a small anonymous function
  - it can take any number of arguments, but can have only one expression.
  - The syntax for lambda function is:
    - lambda argument: expression

In [164]:
#lambda function with singale argument
x = lambda a:a*a 
x(5)

25

In [166]:
#lamda function with more one argument
y=lambda a,b:a+b
y(10,30)

40

Filter Function
 - The filter function the given iterables with the help of 
   function that tests each element in the iterable to be true or not.
 -The syntax of filter function is :-
   - filter(functin,iterable)

In [1]:
score = [76,23,54,12,65,43]

In [2]:
def score_check(s):
    if s>50:
        return True
    else:
        return False

In [3]:
students_passed = filter(score_check,score)
for i in students_passed:
    print(i)

76
54
65

Map Function
the map() function executes a specified function for each item in an iterable. The item is sent to the function as a parameter.

In [4]:
#defining a list which stores the total marks out of 500
total_score = [365,450,290,398,270,430]

#defining a function which calculates the total percentage

def percent(li):
    ans = (li*100)/500
    return ans

In [5]:
#using map function
mapped_list = map(percent,total_score)
print(list(mapped_list))

[73.0, 90.0, 58.0, 79.6, 54.0, 86.0]

Zip Function

The zip function returns a zip object, which is an iterator of tuples, where the first item in each passed iterator is paired together, and second item in each passed iterator are paired togethr etc

In [6]:
#list containg names of students
student_names = ['Rohan','Amita','Shushant','Pawan','Kiran']

#list containing marks of students
student_marks = [67,34,78,85,65]

#zipping names and marks of students
zipped_list = zip(student_names, student_marks)
zipped_list = list(zipped_list)
zipped_list

[('Rohan', 67), ('Amita', 34), ('Shushant', 78), ('Pawan', 85), ('Kiran', 65)]

In [7]:
#unzipping the names and marks of the student
student_names,student_marks = zip(*zipped_list)
print('name=',list(student_names))
print('marks=',list(student_marks))

name= ['Rohan', 'Amita', 'Shushant', 'Pawan', 'Kiran']
marks= [67, 34, 78, 85, 65]

##List, set, and Dictionary Comprehensions

Comprehension in Python provide us with a short and concise way to construct new 
sequences(liat,set and dictionary) using sequences which has alredy been defined.
   -Lis Comprehension
   -Set Comprehension
   -Dictionary Comprehension

List Comprehension

In [1]:
#defininig a list
my_list = [2,3,4,5,6]

#using list cpmprehension
squared_list = [val**2 for val in my_list]
squared_list

[4, 9, 16, 25, 36]

In [2]:
#using list comprehension
even_list = [var for var in my_list if var%2==0]
even_list

[2, 4, 6]

##Set Comprehension

In [3]:
#using set comprehension
numbers = {x for x in range(1,10)}
numbers

{1, 2, 3, 4, 5, 6, 7, 8, 9}

Dictionary Comprehension

In [4]:
d = {num:num*num for num in range(1,10)}
d

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

## Aggregate Funcitons

Aggregation function is a function where the multiple values are grouped together to from
a sing summary value.

Comman aggregate function are:
1. max()
2. min()
3. sum()
4. mean()
5. median()
6. mode()

In [9]:
#creating a list
list1 = [3,5,7,9,2,1,1]
max(list1)

9

In [10]:
min(list1)

1

In [11]:
sum(list1)

28

In [12]:
import statistics as s

In [13]:
#finding the mean value of the list
s.mean(list1)

4

In [14]:
#finding the median of the list
s.median(list1)

3

In [15]:
s.mode(list1)

1

Introdution to Analytical Functin

We are going to lear about four amazing analytical functions int python.
   1.eval()
   2.len()
   3.factorial()
   4.sort()

eval() function
The eval() functio evaluates the string like a python expression and retrun the result as an 
inteher.

In [16]:
x = 3
eval('x**2+2*x-2')

13

len() functions
len() function return the number of items in an object.

In [17]:
numbers =[4,34,56,76,75]
len(numbers)

5

factorial() function
the factorial() function in the math module helps us to comptue the factorial
of a number without writing the whole code.

In [18]:
import math
math.factorial(5)

120

sort() function
sort() function sorts the elements of an object in a specified ascending or descending order.

In [19]:
runs = [45,10,150,76,28,90,200]
runs.sort(reverse=True)
runs

[200, 150, 90, 76, 45, 28, 10]

In [20]:
import statistics as s
a = [3,6,1,8,2,6,3]
s.median(a)

3

Factorial using Recursion
 Let's take an Example,
 Factorial of 4
 4*3*2*1 = 24
 Generalising to n
 n*(n-1)*(n-2)*(n-3)..1 => n*(n-1)!

 Factorial of (n-1)
 (n-1)*(n-2)*(n-3)*...1 => (n-1)*(n-2)!  => n*(n-1)*(n-2)!

In [21]:
def fact(n):
    if n==1:
        return 1
    else:
        return n*fact(n-1)

In [26]:
fact(4)

24

## Fibenacci Sequence

Fibonacci sequence is sequence where each number is the sum of two preceding one.
   for Example: 0,1,1,2,3,5,8,13,...,so on

In [27]:
def fibonacci(n):
    if n<=1:
        return n
    else:
        return fibonacci(n-1) + fibonacci(n-2)

In [32]:
fibonacci(13)

233