# Global Veriable

In [18]:
def func():
    global a
    a = 5
    print(a)

In [19]:
func()

5

In [20]:
a

5

# String Formatting

In [21]:
#declaring two variable
first_name='Chandimal'
last_name='Priyamantha'

In [22]:
#using format() function
print('Hello! I am {} {}'.format(first_name,last_name))

Hello! I am Chandimal Priyamantha

In [23]:
#using number inside brackets
print('Hello! I am {0} {1}'.format(first_name,last_name))

Hello! I am Chandimal Priyamantha

In [24]:
print('Hello! I am {0} {1}. {1} is my surname')

Hello! I am {0} {1}. {1} is my surname

Ninja Tip!!!

#f-string

In [25]:
#declaring two variables
f_name = 'Karan'
age=40

In [26]:
#using f-string for formatting
print(f'My naem is {f_name}.I am {age} years old')

My naem is Karan.I am 40 years old

##String Methods.
String methods are in-built functions in python for manipulating string.

#1.capitalize()- returns string after converting the first character to uppercase.

In [27]:
#capitalize() methdo
s='bollywood'
s.capitalize()

'Bollywood'

In [28]:
#Lower() method
s1='CINEMA'
s1.lower()

'cinema'

In [29]:
#upper() method
a='movie'
a.upper()

'MOVIE'

4.join() function which returns the string sfter concatenating elements of the string with a separator.

In [30]:
#join() method
s1=['Ram','Shyam','Mohan']
x=" ".join(s1)
print(x)

Ram Shyam Mohan

##5.len() function which returns the length of the string.

In [31]:
#len() method
s='Python Programming Language'
len(s)

27

6.count() function which returns the number of occurrences of the substring.

In [32]:
#count() method
st='Lionel Messi'
st.count('e')

2

8. Is lower() function which checks if all the character of the string are lowercase or not

In [33]:
#isLower() method
s='actors'
s.islower()

True

9. Is upper() function which checks if all the characters of the string are uppercase or not.

In [36]:
#isupper() method
a = 'SONGS'
a.isupper()

True

10. split() function which returns a list of the strig after breaking the string by the separator.

In [37]:
#split() method
s = 'Data+Science'
s.split('+')

['Data', 'Science']

In [38]:
#split() method
s1='Data Scince'
s1.split(" ")

['Data', 'Scince']

11. strip() function which removes any extra spaces at the beginning and at the end of the string.

In [42]:
#strip() method
s=' Tom Cruise'
s.strip()

'Tom Cruise'

User Input

input() function takes input from thr user and evaluates it.

In [3]:
x=input()
print(x)

Hello World

In [5]:
input('What is your name:')

'Chandimal'

In [9]:
x=int(input('Enter a number:01'))
y=int(input('Enter the number 02:'))
print(x+y)

5

In [10]:
x=float(input('Enter the Number:'))
print(x)

2.0

In [11]:
s="Data is Good"
print(s[-4:])

Good

Conditional Statements

The conditional statements in python allows to perform some sort of decision making. The decision making process in Python is done using if, elif and else.

Sysntax
if(condition)
   statement(s

In [12]:
x=3
if(x>0):
    print('x is greater than 0')

x is greater than 0

In [13]:
x=5
if(x%2==0):
    print('x is divisible by 2')
else:
    print('x is not divisible by 2')

x is not divisible by 2

In [14]:
#exampel of if elif else statement
y=34
if(y<10):
    print('y is less than 10')
elif(y>10 and y<30):
    print('y is between 10 and 30')
else:
    print('y is greater than 30')

y is greater than 30

Loops are used to repeat a specific block of code as and when required.

Python provides two ways to execute loops.
  1. for loop
  2. while loop

for Loop
The for loop in python used to iterate over a sequence(list, tuple, string and dicttinary

In [15]:
a=['Colombo','Kegalle','Kandy','Jaffna','Matara']
#using for loop
for city in a:
    print(city)

Colombo
Kegalle
Kandy
Jaffna
Matara

In [16]:
#difining a list
s = [2,6,5,8,3]
for i in s:
    if(i%2!=0):
        print(i,'not divisible by 2')

5 not divisible by 2
3 not divisible by 2

Wlile loop
The while loop in Python is used to iterate over a block of code a long as the test cindition is true.

Syntax
While test_condition:
      Body of loop

In [18]:
#using while loop
i=1
while i<=5:
    print(i)
    i=i+1

1
2
3
4
5

In [19]:
#while loop with conditional statements
i=1
while i<=5:
    print(i)
    i=i+1
else:
    print('i is no longer less than  6')

1
2
3
4
5
i is nno longer less than  6

In [27]:
list = [1,3,6,5,8]
for a in list:
    if(a==7):
        print('I love Tharuka')
    elif(a==2):
        print('I don not love Tharuka')
    else:
        print('')

Ninja Tip

In [30]:
for i in range(2,8):
    print(i)

2
3
4
5
6
7

Break statement

The break keyword is used to break out a for loop, or a while loop, as soon as the condition is found to be true the iteration stops.

In [1]:
#using break statement
for i in range(1,10):
    print(i)
    if i==5:
        break

1
2
3
4
5

Continue statement

Using the continue statement, we can only skip the current iteration of the loop, and countinue with the next.

In [2]:
#using countinue statement
for i in range(1,10):
    if i==5:
        continue
/    print(i)

1
2
3
4
6
7
8
9

List

In [3]:
list=['apple','banana','cherry']
list[1]

'banana'

Tuple

In [4]:
t=(1,2,3,4,5,6)
t

(1, 2, 3, 4, 5, 6)

Operations on List

In [6]:
#define a list called "s"
s = ["apple","banana","cherry"]
#using append method
s.append("Cauliflower")
s

['apple', 'banana', 'cherry', 'Cauliflower']

Insert()
insert() method adds an element at the specified index.

In [7]:
#using insert() method
s.insert(0,"brinjl")
s

['brinjl', 'apple', 'banana', 'cherry', 'Cauliflower']

remove()
remove method remoes the item with the specified value.

In [9]:
s.remove('brinjl')
s

['apple', 'banana', 'cherry', 'Cauliflower']

pop()
pop() method remove the element at the specifies index(or last item if the index is not specified)

In [10]:
#using pop() method
s.pop()
s

['apple', 'banana', 'cherry']

Copy()
copy() method return a copy of the line

In [11]:
scopy = s.copy()
scopy

['apple', 'banana', 'cherry']

In [12]:
#using clear() method
scopy.clear()
scopy

[]

In [13]:
#using revers() method
s.reverse()
s

['cherry', 'banana', 'apple']

Count()
count() method return the number of elements with the specified value.

In [14]:
s.count('apple')

1

extend()
extend() method adds the elements of

In [15]:
#using extend() method
s1=[3,8]
s.extend(s1)
s

['cherry', 'banana', 'apple', 3, 8]

In [16]:
#using sort() method
s = ["apple","banana","cherry"]
s.sort()
s

['apple', 'banana', 'cherry']

In [17]:
#another example of sort() method
a=[4,7,2,9,0]
a.sort()
a

[0, 2, 4, 7, 9]

Operation on Tuples

In [18]:
#using count() method
t=("apple","banana","cherry","banana")
t.count("banana")

2

index()

In [20]:
#using index() method
t.index('cherry')

2

len()
len() method retrns the lenght of the tuple

In [21]:
#using len() method
len(t)

4

'+' operator
'+' is used join two tuple

In [22]:
u1=(2,5,7,6)
u2=(1,2,4,5)
u1+u2

(2, 5, 7, 6, 1, 2, 4, 5)

In [31]:
x=[2,3,4]
print(x[:-1])
print(x[-1:])
print(x[::-1])
print(x[-1::])

[2, 3]
[4]
[4, 3, 2]
[4]

In [32]:
t=(100,200)
print(t*2)

(100, 200, 100, 200)

Dictionary
Dictionary is an unordered of data values, used to store data values like a map,i.e, dictionary holds the key:value pari
  1. The value in the dictionary can be of any data type and can repeat.
  2. The keys in the dictionary must be of immutable type(string,number or tuple with immutable element) and must be unique.

In [33]:
#creating a dictionary
d = {"brand":"ford","model":"Mustage","year":1964}
d

{'brand': 'ford', 'model': 'Mustage', 'year': 1964}

In [34]:
#creating dictianary using dict() method
thisdict = dict(brand="ford",model="Mustang",year=1964)
thisdict

{'brand': 'ford', 'model': 'Mustang', 'year': 1964}

Note:-
  1. Keys are not string literals i.e, we write keys without quotes.
  2. Using equall rather than colon for assignment

In [35]:
#accessing item of a dictionary using get() method
d.get("brand")

'ford'

In [36]:
#accessing item of a dictionary
d['brand']

'ford'

In [38]:
#changing an item
d["brand"]="Maruti"
d

{'brand': 'Maruti', 'model': 'Mustage', 'year': 1964}

In [39]:
#adding a new item
d["color"]="Red"
d

{'brand': 'Maruti', 'model': 'Mustage', 'year': 1964, 'color': 'Red'}

Operation on Dictionaries
Copy()
copy() method retums a copy of the dictionary.

In [1]:
#using copy() method
dict1 = {1:"Ram",2:"Shyam",3:"Lakhan"}
dict2 = dict1.copy()
dict2

{1: 'Ram', 2: 'Shyam', 3: 'Lakhan'}

items()
items method return a list containing a tuple for each key-value pair.

In [2]:
#using items() method
dict1.items()

dict_items([(1, 'Ram'), (2, 'Shyam'), (3, 'Lakhan')])

Keys()
keys() method which returns the list containing the dictionry keys.

In [4]:
#using keys() method
dict1.keys()

dict_keys([1, 2, 3])

pop()
pop() method removes the element with the specified key.

In [5]:
#using pop() method
dict1.pop(1)
dict1

{2: 'Shyam', 3: 'Lakhan'}

popitem()
popitem() method removes the inserted key-value pai.

In [6]:
#using popitem() method
dict1.popitem()

(3, 'Lakhan')

update()
update() method update the dictionary with the specified key-value pair.

In [7]:
#using update() method
dict1.update({4:"sita"})
dict1

{2: 'Shyam', 4: 'sita'}

Clear()
clear() method removes all the elements from the dictionary.

In [8]:
#using clear() method\
dict1={1:"Ram",2:"Shyam",3:"Lakhan"}
dict1.clear()
dict1

{}

values()
values() method returns a list of the values in the dictionay.

In [9]:
#using values() method
dict1={1:"Ram",2:"Shyam",3:"Lakhan"}
dict1.values()

dict_values(['Ram', 'Shyam', 'Lakhan'])

Nested Dictionary
A nested dictionary is a dictionary inside a dictionary.
nested_dict = {dic1:{key1:value1},dict2:{key2:value2}}

In [19]:
#creating a dictionary
students_marks={'Ram':{'Maths':75,"Science":80,"English":78},
               "Shyam":{"Maths":60,"Science":65,"English":70},
               "Mohan":{"Maths":80,"Science":50,"English":68}}
students_marks

{'Ram': {'Maths': 75, 'Science': 80, 'English': 78},
 'Shyam': {'Maths': 60, 'Science': 65, 'English': 70},
 'Mohan': {'Maths': 80, 'Science': 50, 'English': 68}}

In [20]:
#accessing value is a nestede dictionary
students_marks["Mohan"]

{'Maths': 80, 'Science': 50, 'English': 68}

In [22]:
students_marks["Mohan"]["Maths"]

80

In [23]:
students_marks["Rohan"]={}
students_marks["Rohan"]["Maths"]=79
students_marks["Rohan"]["Science"]=80
students_marks["Rohan"]["English"]=90

students_marks["Rohan"]

{'Maths': 79, 'Science': 80, 'English': 90}

In [24]:
students_marks.pop("Shyam")

{'Maths': 60, 'Science': 65, 'English': 70}

In [25]:
students_marks

{'Ram': {'Maths': 75, 'Science': 80, 'English': 78},
 'Mohan': {'Maths': 80, 'Science': 50, 'English': 68},
 'Rohan': {'Maths': 79, 'Science': 80, 'English': 90}}

In [26]:
#iteratin through a nested dictionary
for name,subjects in students_marks.items():
    print("Name of Student",name)
    for marks in subjects:
        print(marks,":",subjects[marks])

Name of Student Ram
Maths : 75
Science : 80
English : 78
Name of Student Mohan
Maths : 80
Science : 50
English : 68
Name of Student Rohan
Maths : 79
Science : 80
English : 90

Introduction to Sets
A set is a collection which is unordered and unindexed. In Python, sets are written with curly brackets {}.

In [1]:
#creating a set
s={'apple','banana','cherry'}

In [2]:
#accessing elements of set
for i in s:
    print(i)

banana
cherry
apple

In [4]:
#trying to change the element of a set
s[0] = 'pineapple'

TypeError: 'set' object does not support item assignment

In [5]:
#adding one element to a set
s.add('pineapple')
s

{'apple', 'banana', 'cherry', 'pineapple'}

In [8]:
#adding more than one element ata time
s.update({'orange','watermelon'})
s

{'apple', 'banana', 'cherry', 'orange', 'pineapple', 'watermelon'}

In [9]:
s.remove('mango')

KeyError: 'mango'

In [10]:
s.discard('mango')

In [13]:
a = {'apple','banana','cherry','pineapple'}

In [14]:
a.pop()
a

{'apple', 'cherry', 'pineapple'}

In [15]:
a.pop()
a

{'apple', 'pineapple'}

In [16]:
a.clear()

In [17]:
a

set()

Set Operations

Sets can be used to carry out mathematical set operation like
 1. Union
 2. Intersection
 3. Difference
 4. Symmetric differece.

 Set Unoon
 Union of two sets is the set of all elements from both the sets. Set Union can be performde using rwo ways-
  1. | operation
  2. union() method

In [18]:
#defining two sets and performing set union
A={1,2,4,7,8}
B={1,2,3,5,9,8}
A|B

{1, 2, 3, 4, 5, 7, 8, 9}

In [21]:
A.union(B)

{1, 2, 3, 4, 5, 7, 8, 9}

In [22]:
B.union(A)

{1, 2, 3, 4, 5, 7, 8, 9}

Set Intersection
The intersection two sets id the set of elements that are present in both the sets. Set intersection an be performed using two qays
   1. & operation
   2. intersection() method.

In [23]:
A&B

{1, 2, 8}

In [24]:
A.intersection(B)

{1, 2, 8}

In [26]:
B.intersection(A)

{1, 2, 8}

Set Difference
The difference of set B from the set A(which we write as A-B) is the set of elements that are only in A but not in B.

In [27]:
A={1,2,4,7,8}
B={1,2,3,5,9,8}

In [28]:
A-B

{4, 7}

In [29]:
B-A

{3, 5, 9}

1. For A-B we can use A.difference(B)
2. For B-A we can use B.difference(A)

Set Symmeetric difference
The set symmetric difference is the set of all elements from A and B exclusign elements that are common in both. The symmetric difference is performed using two ways.
  1 ^operator
  2 symmetric_difference() method

In [30]:
A^B

{3, 4, 5, 7, 9}

In [32]:
A.symmetric_difference(B)

{3, 4, 5, 7, 9}